USE [master]
GO
/****** Object:  Database [TicTacToe]    Script Date: 19/01/2024 5:24:53 CH ******/
CREATE DATABASE [TicTacToe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicTacToe', FILENAME = N'D:\sqlserver\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicTacToe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicTacToe_log', FILENAME = N'D:\sqlserver\MSSQL15.SQLEXPRESS\MSSQL\DATA\TicTacToe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicTacToe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicTacToe]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 19/01/2024 5:24:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[UserName] [char](20) NOT NULL,
	[DisplayName] [char](20) NULL,
	[UserPassword] [char](50) NOT NULL,
	[NumWin] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([UserName], [DisplayName], [UserPassword], [NumWin]) VALUES (N'nga123              ', N'Nga                 ', N'$31$16$1ZeZgcIVZBhXfjXQFSdbxFfCxF69a9cGu52bPxlrbjI', 0)
INSERT [dbo].[Accounts] ([UserName], [DisplayName], [UserPassword], [NumWin]) VALUES (N'phuc123             ', N'phuc                ', N'$31$16$4O7LJyVc7JNyJCZINKTUYSL1mWOgNIofTXpWQ1mKuPU', 3)
INSERT [dbo].[Accounts] ([UserName], [DisplayName], [UserPassword], [NumWin]) VALUES (N'tai123              ', N'tai                 ', N'$31$16$fRf_r8bl0_RaH67NW4k6EOH761zzMVshpRoIZZwNyTE', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__4E3E687D91DB4FBF]    Script Date: 19/01/2024 5:24:54 CH ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[DisplayName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [NumWin]
GO
USE [master]
GO
